application:
  title: Microservico Avaliador de credito
  version: 1.0.0

# IMPORTANT! USADO PARA REGISTRO NO GATEWAY E LOADBALANCER
spring:
  application:
    name: msavaliadorcredito

  # CONFIGURACOES DO SERVICO RABBITMQ
  rabbitmq:
    host: localhost
    port: 5672
    user: guest
    password: guest

# vai subir o microservico em uma porta randomica ao inves da 8080
# dentro do eureka server
server:
  port: 0

# indicar ao cliente para apontar para configuracoes do eurika server
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  # instanceid no eurika de forma dinamica no dashboard
  instance:
    instanceId: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}

# Configuracoes de filas e exchanges do rabbit
mq:
  queues:
    emissao-cartoes: emissao-cartoes

