spring:
  application:
    name: death-bet-agreement

# solve problem in swagger 'documentationPluginsBootstrapper'
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

# configuration for postgresql
  datasource:
    driver-class-name: org.postgresql.Driver
    password: postgres
    url: jdbc:postgresql://localhost:5433/continental
    username: postgres
  jpa:
    hibernate:
      ddl-auto: none

continental:
  unit: satoshi
  btc-address: 3NcrStGE847jffhdfHDYWPLvyk64X7pEYq
  purge-pending-bet-in-days: -5