#include_once static/inc/open-source-copyright-mit.inc

package ${package}.constantes;

/**
* ${classebase}Constantes - Constantes para geral das Entity e DTO
*
* @author ${autor}
* @since ${agora}
*/

public class ${classebase}Constantes {
    private ${classebase}Constantes() {}
#include static/inc/public-static-final-string.inc
}