application:
  title: Microservico Clientes
  version: 1.0.0

# IMPORTANT! USADO PARA REGISTRO NO GATEWAY E LOADBALANCER
spring:
  application:
    name: msclientes

# vai subir o microservico em uma porta randomica ao inves da 8080
# dentro do eureka server
server:
  port: 0

# indicar ao cliente para apontar para configuracoes do eurika server
eureka:
  client:
    service-url:
# defaultZone, trocar localhost da url http://localhost:8761/eureka pelo --name do container se estiver usando docker
      defaultZone: http://ms-eureka-server-container:8761/eureka

# instanceid no eurika de forma dinamica no dashboard
  instance:
    instanceId: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}

# expoe endpoint para actuator
management:
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  file:
    name: ./logs/log-file.log